<h2>User Profile Page</h2>

 <div  class="container">

    <h3 style="font-size: 3rem;color: #E29013;">User Information</h3>

<table class="table table-hover table-bordered ">
        <tbody>
         
            <tr><td>Name: {{user.profile.name}}  </td> </tr> 
            <tr><td>Username: {{user.profile.user_name}}  </td> </tr>     
            <tr><td>Weight: {{user.profile.weight}}lbs </td> </tr>     
            <tr><td>Height: {{user.profile.height}}  </td> </tr>     
            <tr><td>Age: {{user.profile.age}} </td> </tr>     
            <tr><td>Vegetarian?: {{user.profile.vegetarian}} </td> </tr>     
            <tr><td>Diet option: {{user.profile.dietOption}}</td> </tr>        
         </tbody>
    </table>
    
     <form action="/meal_collection/login" method="post">
    <div class="form-group">
            <label>Vegetarian?(true/false)</label>
            <input type="text" class="form-control" name="vegetarian">
     </div>
      <div class="form-group">
          <label>Diet Option</label>
          <input type="text" class="form-control" name="dietoption">
      </div>

       <button type="submit" class="btn btn-warning btn-lg">Submit</button>
      </form>


</div>










